/venv/
/build/
/dist/
/errors/
/htmls/
/.vscode/
**/__pycache__/
**/photos/
**/*.sqlite3
**/*.db
**/*.ico
**/*.sql
**/*.bat
**/*.cfg
**/*.exe
**/*.spec
**/*.rar
**/*.7z
**/config.py
**/config/
**/logs/